
{{#each errands as |errand|}}

  <form class="errand" data-id="{{errand.id}}">
    <div class="update-field update-errand-name">
      <label> Errand:</label>
      <p>{{limit errand.errand_name 25}}</p>
      <p class="other-label">Change Errand:</p>
      <input name="errand[errand_name]" type="text" placeholder="Errand (e.g. Pick up dry-cleaning)">
    </div>
    <div class="update-field update-location">
      <label>Place:</label>
      <p>{{errand.location}}</p>
      <p class="other-label">Change Location:</p>
      <input name="errand[location]" type="text" placeholder="Location (e.g. Cleaner's)">
    </div>
    <div class="update-field update-due-date">
      {{#if errand.due_date}}
      <label>Do On (Date):</label>
      <p>{{errand.due_date}}</p>
      <p class="other-label">Change Date:</p>
      <input name="errand[due_date]" type="date">
      {{else}}
      <label> Add a Date:</label>
      <input name="errand[due_date]" type="date">
      {{/if}}
    </div>
    <div class="update-field update-due-time">
      {{#if errand.due_time}}
      <label>Do By (Time):</label>
      <p>{{errand.due_time}}</p>
      <p class="other-label">Change Time:</p>
      <input name="errand[due_time]" type="time">
      {{else}}
      <label>Add a Time:</label>
      <input name="errand[due_time]" type="time">
      {{/if}}
    </div>
    <div class="update-field update-done-status">
      {{#if errand.done_status}}
      <label>Done?</label>
      <p> Yes!</p>
      <p class="other-label">Change Done Status</p>
      <input name="errand[done_status]" type="checkbox" value="false">
      {{else}}
      <label>Change Done Status</label>
      <input name="errand[done_status]" type="checkbox" value="true">
      {{/if}}
    </div>
    <button type="submit" value="Update Errand">Update</button>
    <div>
      <label>Check to delete this errand:</label>
      <input name="delete_errand" type="checkbox" value="delete">
    </div>
  </form>

{{/each}}
